# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Env
.env
.env.local

# Backend
backend/uploads/*
!backend/uploads/.gitkeep

# Frontend build
frontend/dist/

# OS
.DS_Store
Thumbs.db